<html>
<head>
<title>Profile App</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <div class="navbar-brand">Profile</div>
    </div>

    <ul class="nav navbar-nav">
      <li><a href="/profile/mine">My Profile</a></li>
    </ul>

    {{if .Profile}}
    <form method="post" action="{{.LogoutURL}}" class="navbar-form navbar-right">
    <button class="btn btn-default">Log out</button>
    </form>
    <div class="navbar-text navbar-right">
    <span>{{.Profile.DisplayName}}</span>
    </div>
    {{else}}
    <div class="navbar-text navbar-right">
    <a href="{{.LoginURL}}">Log in</a>
    </div>
    {{end}}
  </div>
</div>
<div class="container">
  {{template "body" .Data}}
</div>
</body>
</html>