<h3>Profile</h3>

<div class="btn-group">
  <form action="/profile/{{.ID}}" method="post">
    <a href="/profile/{{.ID}}/edit" class="btn btn-primary btn-sm">
      <i class="glyphicon glyphicon-edit"></i>
      <span>Edit profile</span>
    </a>
  </form>
</div>

<div class="media">
  <div class="media-body">
    <h4>{{.FullName}} <small>{{.Email}}</small></h4>
    <p>{{.Address}}</p>
  </div>
</div>